.header{
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    list-style:none;
}
.logo {
    height: 10em;
    padding: 1.5em;
    border-radius: 6em;
    will-change: filter;
    transition: filter 300ms;
    filter: drop-shadow(0 0 1em #98D9E1);
}
.logo:hover {
    filter: drop-shadow(0 0 2em #98D9E1);
}
.title{
    color: white;
}
.sections{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.cart-sidebar {
    position: fixed;
    top: 0;
    right: -500px;
    width: 500px;
    height: 100%;
    background-color: var(--background-gray);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 16px;
    transition: right 0.3s ease;
    z-index: 1000;
  }
.cart-sidebar.open {
    right: 0;
}
.search-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-icon {
  font-size: 1.2rem;
  color: #555;
}

.icon-section {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.icon-button {
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
  transition: transform 0.2s ease, color 0.2s ease;
}

.icon-button:hover {
  transform: scale(1.2);
  color: #98D9E1;
}

.search-slide {
  transition: width 0.3s ease;
  width: 180px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.menu-sidebar{
    position: fixed;
    top: 0;
    right: -500px;
    width: 500px;
    height: 100%;
    background-color: var(--background-gray);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 16px;
    transition: right 0.3s ease;
    z-index: 1000;
}
.menu-sidebar.open{
    right: 0px;
}