.product-detail{
    border: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: var(--light-gray);
    padding: 1rem;
    margin-bottom: 1rem;
}
.image-container-detail{
    aspect-ratio: 1.0;
    width: 100%;
    margin: 0 auto;
}
.image-detail{
    aspect-ratio: 1.0;
    border-radius: 20px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.name-detail{
    color: var(--text-primary);
    margin: 1rem;
}
.description-detail{
    color: var(--dark-gray);
}
.info-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.price-detail{
    color: var(--color-primary);
    font-size: large;
    font-weight: bold;
}
.stock-detail{
    color: var(--middle-gray);
}
.button-primary{
    background-color: var(--color-primary);
    border-radius: 10px;
    border-width: 0;
    color: white;
    align-items: center;
}