.productList {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

@media (min-width: 576px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .productList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .productList {
    grid-template-columns: repeat(4, 1fr);
  }
}